* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.list {
  display: flex;
  justify-content: space-around; /* Alterado para distribuir espaço entre os itens */
  align-items: center;
  list-style: none;
  background:#333;
  margin: 10px auto;
  width: 20%; /* Ajustado para ocupar 80% da largura */
  height: 10%;
  color: #333;
  border-radius: 15px;
  height: 80px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

main {
  width: 80vw; /* Adjusted width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px; /* Adjusted margin */
}

nav.navBAR {
  position: fixed;
  top: 0;
  width: 100%;
}

main h1 {
  font-size: 2rem; /* Adjusted font size */
  margin-bottom: 1rem;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center; /* Added to center the text */
}

main form label,
main form input,
.main form input[type="submit"] {
  width: 100%; /* Adjusted width */
  margin-bottom: 10px; /* Added for spacing between elements */
}

main form label span {
  font-size: 1.2rem;
  margin-top: 1rem;
}

main form input {
  height: 40px; /* Adjusted height */
  padding: 0.5rem; /* Adjusted padding */
  outline: none;
  font-size: 1rem;
  border: 1px solid #333;
}

main form input[type="submit"] {
  margin-top: 1.5rem; /* Adjusted margin */
}

.user-type {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 10px;
}

.radio-option {
  text-align: center;
  margin: 0 10px;
  width: 48%; /* Ajustado para garantir algum espaço entre os botões */
}

.user-type label {
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
}

.user-type input {
  width: auto; /* Ajustado para ocupar apenas o tamanho necessário */
}

.user-type input[type="radio"]:hover {
  cursor: pointer;
}

.user-type input:checked + label {
  background-color: #000000;
  color: #fff;
}

.main form input[type="submit"]:hover {
  background-color: #000000;
}

.form-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: space-between;
  width: 20%; /* Adjusted width */
  height: 400px; /* Adjusted height */
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  transform: 0.3s;
}

h1 {
  color: #000000;
  font-size: 1rem; /* Adjusted font size */
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.input-group .input {
  height: 100px; /* Adjusted height */
  width: 50%; /* Adjusted width */
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 15px; /* Adjusted padding */
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}

i {
  position: relative;
  top: -33px;
  left: 17px;
  color: #fff;
}

.input-group {
  width: 80%; /* Adjusted width */
  margin-bottom: 10px;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
}

/* Made with love by Mutiullah Samim*/
@import url('https://fonts.googleapis.com/css?family=Numans');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-image: url("/images/fundo.jpg");
  font-weight: 500;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* Added to make content stack vertically */
  justify-content: center;
  /* Added to vertically center content */
  align-items: center;
  /* Added to horizontally center content */
}

.space {
  margin-bottom: 2vh;
}

h1.titulo {
  font-size: 6rem;
  color: #0076ff;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

p.paragrafo {
  font-size: 1.4rem;
  color: black;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}


ul.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background: rgb(0 190 51);
  margin: 10px auto;
  width: 50%;
  color: #FFFFFF;
  border-radius: 15px;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s background;
}

ul.list:hover {
  background: rgb(0, 143, 38);
}

li.a {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  color: black;
}

#form>div:nth-child(3) {
  border-bottom: 0.25px #cbcbcb solid;
  height: 7vh;
}

.card- {
    width: 40vh;
    background-color: rgb(255,255,255,0.75);
    box-shadow: #595959 1vh 1vh 2vh 0vh;
    border-radius: 1vh;
}

input#btn {
  width: 100%;
  font-size: 2vh;
  color: white;
  font-weight: bold;
  margin-bottom: 5vh;
  background: #0076ff;
  transition: .5s background;
}

input#btn:hover {
  background: #004799;
}

span.input-group-text {
  background: #0076ff !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  /* Adjust the height as needed */
  margin-bottom: 10%;
  /* Added margin to separate the tags from the login block */
}

.header-tag {
  margin: 0 10%;
  /* Adjust the spacing as needed */
  font-size: 24px;
  /* Adjust the font size as needed */
  color: white;
  /* Set the color to white */
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 260px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffffff;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}