/* Adicione esses estilos ao arquivo cadastro.css */

body {
    background-color: #f8f9fa;
}

main {
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.custom-list li {
    display: inline-block;
    margin-right: 20px;
}

.card- {
    max-width: 400px;
    width: 100%;
}

.card-body {
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group-prepend {
    background-color: #007bff;
    color: #fff;
    height: 38px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.input-group-prepend svg {
    fill: #fff;
    margin-right: 8px;
}

.form-control {
    height: 38px; /* Ajuste a altura conforme necessário */
}

.space {
    margin-bottom: 20px;
}

.user-type {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.radio-option {
    flex: 1;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.list li {
    display: inline-block;
    cursor: pointer;
}

.list li a {
    text-decoration: none;
    color: #007bff;
}

.list li a:hover {
    text-decoration: underline;
}
#form > label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background: rgb(0 190 51);
  margin: 10px auto;
  width: 50%;
  color: #FFFFFF;
  border-radius: 15px;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s background;
}

ul.list:hover {
  background: rgb(0, 143, 38);
}

li.a {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 20%;
}
